@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


.HeaderNav{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    grid-area: header;
    background-color: #364156;
    padding: 20px;
    height: 15px;
    position: fixed;
    width: 200vh;

}