@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@700&display=swap');

.HeaderNav{
    
    align-items: flex-start;
    font-family: 'Yrsa', serif;
    font-size: 22px;
    background-color: #364156;
    display: flex;
    justify-content: flex-start;
    padding: 12px;  
    position: fixed;  
    width: 100%;
    

    a{
        text-decoration: none;
        color: white;
    }

    a:visited{
        color: white;
    }

}