.Dashboard{
    background-color: rgb(204, 202, 202);
    text-align: center;      
    display: flex;
    grid-area: dash;
    flex-direction: column;   
    margin: 10px 50px;
    border-radius: 8px;
}